<div id="categorias">
    <div class="categorias-titulo">
        <h1>Categorías</h1>
        <h2>Conoce todas nuestras categorías de nuestros libros.</h2>
    </div>
    <div class="tarjetas">
    <div class="card">
        <div class="card-imagen"><img class="niños img-card" src="../assets/niños.png" /></div>
        <h1 class="card-titulo">Niños</h1>
        <p class="card-descripcion">Aventuras, fantasía y aprendizaje para mentes curiosas y corazones soñadores.</p>
    </div>
    <div class="card">
        <div class="card-imagen"><img class="juvenil img-card" src="../assets/juvenil.png" /></div>
        <h1 class="card-titulo">Juvenil</h1>
        <p class="card-descripcion">Emociones intensas, descubrimientos y primeras veces en historias inolvidables.</p>
    </div>
    <div class="card">
        <div class="card-imagen"><img class="ciencia-ficcion img-card" src="../assets/ciencia-ficcion.png" /></div>
        <h1 class="card-titulo">Ciencia ficción</h1>
        <p class="card-descripcion">Viajes interestelares, futuros posibles y preguntas que desafían la realidad.</p>
    </div>
    <div class="card">
        <div class="card-imagen"><img class="novela img-card" src="../assets/novela.png" /></div>
        <h1 class="card-titulo">Novela</h1>
        <p class="card-descripcion">Historias humanas que conmueven, inspiran y nos hacen reflexionar sobre la vida.</p>
    </div>
    <div class="card">
        <div class="card-imagen"><img class="cuento img-card" src="../assets/cuento.png" /></div>
        <h1 class="card-titulo">Cuento</h1>
        <p class="card-descripcion">Relatos breves pero poderosos que capturan la magia de lo cotidiano y lo extraordinario.</p>
    </div>
    <div class="card">
        <div class="card-imagen"><img class="comic img-card" src="../assets/comic.png" /></div>
        <h1 class="card-titulo">Cómic</h1>
        <p class="card-descripcion">Imágenes y palabras que se unen para crear mundos vibrantes llenos de acción y aventura.</p>
    </div>
</div>
</div>