<div id="inicio">
    <div class="logo-banner"></div>
    <div class="descripcion-banner">
        <h1>El Grimorio Literario</h1>
        <h2>Donde las historias cobran vida y las páginas te transportan a otros mundos</h2>
        <p>El Grimorio Literario es más que una librería, es un refugio para los amantes de la lectura. Ubicado en un edificio histórico con techos altos y vigas de madera, nuestro espacio invita a perderse entre estanterías repletas de tesoros literarios. Cada rincón está cuidadosamente diseñado para fomentar la exploración y el descubrimiento, desde los sillones de lectura junto a las ventanas hasta la acogedora cafetería donde puedes disfrutar de un café y un buen libro. Nuestro equipo de libreros apasionados está siempre dispuesto a recomendar lecturas personalizadas y a compartir su amor por los libros. Organizamos eventos literarios, clubes de lectura y talleres para todas las edades, creando una comunidad vibrante donde las historias se comparten y celebran.</p>
    </div>
    <div class="imagen-banner"></div>
</div>